.attribution { 
  font-size: pxToRem(11); 
  text-align: center;
  color: $dark-blue;

  a {
    text-decoration: none;
    cursor: pointer;
    color: darken($blue, $amount: 10);

    &:hover {
      color: lighten($blue, $amount: 10);
    }
  }
}
